.opacityGrey{
    opacity: 0.5;
}

.opacityFull{
    opacity: 1;
}

.errorForm{
    border-bottom: solid 2px rgb(250, 63, 63);
    border-top: none;
    border-left: none;
    border-right: none;
}

.d-none{
    display: none;
}