.opacityGrey{
    opacity: 0.5;
}

.opacityFull{
    opacity: 1;
}

.nav-visible{
    opacity: 1 !important;
    visibility: visible !important;
    transition: all 0.2s;
}

.errorForm{
    border-bottom: solid 2px rgb(250, 63, 63);
    border-top: none;
    border-left: none;
    border-right: none;
}

.d-none{
    display: none !important;
    transition: all 0.2s;
}

.translate{
    transform: translate(100%);
}