footer{
    display: grid;
    grid-template-columns: 47% 47%;
    column-gap: 6%;
    grid-template-areas:
    "contacto redes";
    background-color: $primario-negro2;
    padding: 6rem 14rem;
    .footer__contacto{
        grid-area: contacto;
        .footer__contacto-titulo{
            @include titulo__seccion;
            margin-bottom: 4rem;
        }
        .footer__contacto-pregunta{
            margin-bottom: 1.6rem;
            font-size: 2.4rem;
            font-weight: 400;
        }
        .footer__contacto-form{
            display: flex;
            flex-direction: column;
            .footer__contacto-input{
                margin-bottom: 1.6rem;
                height: 5vh;
                padding: 0.5rem 1rem;
                color:$primario-negro2;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.6rem;
                transition: all 0.2s;
                &:focus-visible{
                   outline: 0px;
                }
                &::placeholder{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.6rem;
                }
            }
            .footer__contacto-error{
                @include error;
            }
            .footer__contacto-msg{
                padding: 1.6rem 1rem;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.6rem;
                margin-bottom:2.4rem;
                height: 20vh;
                &:focus-visible{
                    outline: 0px;
                }
            }
            .footer__contacto-msg-enviado{
                @include success;
            }
            .footer__contacto-btn{
                font-size: 1.4rem;
                font-weight: bold;
                cursor: pointer; 
                font-family: 'Montserrat', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $secundario-naranja;
                height: 4.3rem;
                border-style: none;
                border-radius: 0.5rem;
                color:$primario-negro2;
                width: 50%;
                color: $primario-negro1;
                font-size: 1.4rem;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                transition: all 0.2s;
                &:hover{
                    cursor: pointer;
                    background-color: #fe8128;
                }
            }
        }
    }
    .footer__redes{
        grid-area: redes;
        padding-top: 8rem;
        .footer__redes-pregunta{
            margin-bottom: 3.8rem;
            font-size: 2.4rem;
            font-weight: 400;
            position: relative;
            z-index: 20;
            b{
                color:$secundario-naranja;
            }
        }
        .footer__redes-fondo{
            position: relative;
            width: fit-content;
            height: fit-content;
            bottom: 35%;
            left: 38%;
            z-index: 1;
        }
        .footer__redes-links{
            display: flex;
            a{
                margin-right: 3.2rem;
                .footer__redes-iconos{
                    position: relative;
                    z-index: 2;
                    width: 4.3rem;
                    height: 4.6rem;
                    opacity: 0.8;
                    transition: all 0.3s;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        } 
    }
}

/* MEDIA QUERIES */

//1301px

@media (max-width:1301px){
    body{
        footer{
            padding: 6rem 12rem;
            .footer__contacto{
                .footer__contacto-titulo{
                    font-size: 2.8rem;
                }
                .footer__contacto-pregunta{
                    font-size: 2rem;
                }
                .footer__contacto-form{
                    .footer__contacto-input{
                        &::placeholder{
                            font-size: 1.3rem;
                        }
                    }
                    .footer__contacto-error{
                        font-size: 1.2rem;
                        font-weight: 600;
                        margin-bottom: 2.4rem;
                    }
                    .footer__contacto-msg{
                        &::placeholder{
                            font-size: 1.3rem;
                        }
                    }
                }
            }
            .footer__redes{
                padding-top:7.5rem;
                .footer__redes-fondo{
                    position: relative;
                    width: fit-content;
                    height: fit-content;
                    bottom: 40%;
                    left: 38%;
                    z-index: 1;
                }
                .footer__redes-pregunta{
                    font-size: 2rem;
                }
            }
        }
    }
}


//1024px

@media (max-width:1024px){
    body{
        footer{
            .footer__contacto{
                .footer__contacto-titulo{
                    font-size: 2.4rem;
                }
                .footer__contacto-pregunta{
                    font-size: 1.8rem;
                }
            }
            .footer__redes{
                padding-top: 7rem;
                .footer__redes-fondo{
                    width: 30rem;
                    bottom: 40%;
                    left: 35%;
                }
                .footer__redes-pregunta{
                    font-size: 1.8rem;
                }
            }
        }
    }
}

//950px

@media (max-width:950px){
    body{
        footer{
            .footer__contacto{
                .footer__contacto-titulo{
                    font-size: 2.2rem;
                }
                .footer__contacto-pregunta{
                    font-size: 1.6rem;
                }
                .footer__contacto-form{
                    .footer__contacto-input{
                        &::placeholder{
                            font-size: 1.2rem;
                        }
                    }
                    .footer__contacto-msg{
                        &::placeholder{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            .footer__redes{
                .footer__redes-pregunta{
                    font-size: 1.6rem;
                }
                .footer__redes-links{
                    a{
                        margin-right: 3rem;
                        .footer__redes-iconos{
                            width: 3.8rem;
                            height: 4.1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 924px){
    body{
        footer{
            padding: 6rem 8rem;
        }
    }
}

@media (max-width:906px){
    body{
        footer{
            .footer__redes{
                .footer__redes-fondo{
                    display: none;
                }
            }
        }
    }
}

//767px

@media (max-width: 767px){
    body{
        footer{
            display: flex;
            flex-direction: column;
            padding: 6rem;
            .footer__contacto{
                .footer__contacto-titulo{
                    font-size: 2.6rem;
                }
                .footer__contacto-pregunta{
                    font-size: 1.4rem;
                }
            }
            .footer__redes{
                .footer__redes-pregunta{
                    font-size: 1.4rem;
                    margin-bottom:3rem;
                }
                .footer__redes-links{
                    a{
                        margin-right: 2.5rem;
                        .footer__redes-iconos{
                            width: 3.2rem;
                            height: 3.4rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 425px){
    body{
        footer{
            padding: 6rem 4rem 6rem 4rem;
            .footer__contacto{
                .footer__contacto-titulo{
                    font-size: 2.2rem;
                }
            }
        }
    }
}