@mixin titulo__seccion{
    color:$secundario-naranja;
    text-transform: uppercase;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
    font-size: 3.2rem;
}
@mixin btn1{
        width: 48.5%;
        margin-right: 3%;
        .trabajos__proyecto__desc_btn1{
            width: 100%;
            color: $primario-negro1;
            font-size: 1.4rem;
            font-weight: bold;
            cursor: pointer; 
            font-family: 'Montserrat', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $secundario-naranja;
            height: 4.3rem;
            border-style: none;
            border-radius: 0.5rem;
            color:$primario-negro2;
            transition: all 0.2s;
            &:hover{
                background-color: #fe8128;
            }
    }
}

@mixin btn2{
    width: 48.5%;
    .trabajos__proyecto__desc_btn2{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        height: 4.3rem;
        border-style:solid;
        border-color: $secundario-naranja;
        border-radius: 0.5rem;
        color: $secundario-beige;
        font-size: 1.4rem;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        transition: all 0.5s;
        &:hover{
            background-color: #231c18;
        } 
}
}

@mixin proyecto{
    display: flex;
    flex-direction: column;
    width:36.9rem;
    .trabajos__proyecto__portada{
        width:100%;
        height: 17rem;
        object-fit: cover;
        margin-bottom: 2rem;
    }
    h4{
        font-size: 1.8rem;
        color: $secundario-naranja;
        margin-bottom: 0.8rem;
        text-transform: uppercase;
    }
    .trabajos__proyecto__herramientas{
        display: flex;
        flex-direction: row;
        margin-bottom: 1.6rem;
        img{
            width: 2.6rem;
            height: 2.9rem;
            margin-right: 1.2rem;
        }
    }
    .trabajos__proyecto__desc{
        p{
            font-size: 1.4rem;
            margin-bottom: 2.2rem;
        }
        div{
            display: flex;
            flex-direction: row;
            a{
                @include btn1;
            }
            a{
                @include btn2;
            }
        }
    }
}

@mixin error {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2.4rem;
    p{
        color:rgb(250, 63, 63);
    }
}

@mixin success{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2.4rem;
    p{
        color:#5fcc2c;
    }
}