/* Config gral */
* {
    margin: 0;
    padding: 0;
  }

*::selection{
    background-color: $secundario-beige;
    color:#ffffff;
}
  
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    a{
        text-decoration:none;
        color:$secundario-beige;
    }
    p{
        color: $secundario-beige;
    }
    h1{
        color: $secundario-beige;
    }
    
    h2{
        color: $secundario-beige;
    }
    
    h3{
        color: $acento-rojo;
    }
    
    li{
        color: $secundario-beige;
    }
    .selected{
        color: $acento-rojo;
        transition: 0.3s;
    }
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 10rem; 
}

body{
    background-color: #181310;
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 8rem;
        width: 100%;
        position: fixed;
        top:0;
        z-index: 3;
        background-color: $primario-marron;
        .header__navbar{
            padding-left: 14rem;
            ul{
                display: flex;
                flex-direction: row;
                list-style-type:none;
                font-size: 2.4rem;
                li{
                    margin-right: 4rem;
                    text-transform: uppercase;
                    font-weight: 500;
                    width: max-content;
                    a{
                        transition: all 0.3s;
                        &:hover{
                            color:$acento-rojo;
                        }
                    }
                }
            }
        }
        .header__idioma{
            padding-right: 14rem;
            ul{
                display: flex;
                flex-direction: row;
                list-style-type:none;
                font-size: 2.4rem;
                li{
                    margin-left: 4rem;
                    text-transform:uppercase;
                    width: max-content;
                    a{
                        transition: all 0.3s;
                        &:hover{
                            color:$acento-rojo;
                        }
                    }
                }
            }
        }
        .header__logo{
            opacity: 0;
            visibility: hidden;
            transition: 0.2s all;
        }
        .header__btn-abrir, .header__btn-cerrar{
            display:none;
        }
    }
    main{
        /* Desde acá portada */
        .portada{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: fit-content;
            width: 62.5rem;
            height: 100vh;
            padding: 0 14rem 0 14rem;
            .portada__titulo{
                margin-top:20rem;
                display: block;
                font-size: 12.8rem;
                font-weight: 400;
                text-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.50);
                position: relative;
                z-index: 2;
                b{
                    color:$secundario-naranja;
                }
            }
            .portada__subtitulo{
                font-size: 2.4rem;
                font-weight: 500;
                position: relative;
                z-index: 2;
            }
            img{
                position: relative;
                width: fit-content;
                height: fit-content;
                bottom: 13.4rem;
                right: 3rem;
                z-index: 1;
            }
        }
    }
}


/* MEDIA QUERIES */

//1301px

@media (max-width:1301px){
    body{
        header{
            .header__navbar{
                padding-left: 12rem;
                ul{
                    font-size: 1.8rem;
                    }
                }
            .header__idioma{
                padding-right: 12rem;
                ul{
                    font-size: 1.8rem;
                }
            }
        }
        main{
            /* Desde acá portada */
            .portada{
                padding: 0 12rem 0 12rem;
                .portada__titulo{
                    font-size: 10rem;
                }
                .portada__subtitulo{
                    font-size: 1.8rem;
                    padding-left:1rem;
                }
                img{
                    position: relative;
                    width: fit-content;
                    height: fit-content;
                    bottom: 13.4rem;
                    right: 3rem;
                    z-index: 1;
                }
            }
        }
    }
}

//924px

@media (max-width: 924px){
    body{
        header{
            .header__navbar{
                padding-left: 8rem;
                ul{
                    font-size: 1.6rem;
                    li{
                        margin-right: 3rem;
                    }
                }
            }
            .header__idioma{
                padding-right: 8rem;
                ul{
                    font-size: 1.6rem;
                    li{
                        margin-left: 3rem;
                    }
                }
            }
        }
        main{
            .portada{
                width:auto;
                padding: 0 8rem 0 8rem;
                .portada__titulo{
                    font-size: 8rem;
                }
                .portada__subtitulo{
                    font-size: 1.5rem;
                    padding-left:1rem;
                }
                img{
                    bottom: 13.4rem;
                    right: 3rem;
                }
            }
        }    
    }
}

@media (max-width: 724px){
    body{
        header{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas:
            'logo btn';
            .header__logo{
                grid-area: logo;
                width: 20%;
                margin-left: 3rem;
                transition: all 0.2s;
            }
            .header__btn-abrir{
                grid-area: btn;
                display: block;
                justify-self: flex-end;
                margin-right: 3rem;
                background-color: $primario-marron;
                border: none;
                cursor: pointer;
                img{
                    width: 3rem;
                    cursor: pointer;
                }
            }
            .header__navbar{
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: start;
                top: 0;
                right: 0;
                height: 50vh;
                width: 15rem;
                min-width: 25%;
                background-color: $primario-marron;
                padding: 3rem 2rem 0 2rem;
                background-color: $primario-negro2;
                box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .50);
                opacity: 0;
                visibility: hidden;
                transition: all 0.2s;
                button{
                    margin-bottom: 3rem;
                    align-self: end;
                    display:block;
                    background-color: $primario-negro2;
                    border: none;
                    cursor: pointer;
                    img{
                        width: 3rem;
                        cursor: pointer;
                    }
                }
                ul{
                    flex-direction: column;
                    gap:2rem;
                }
            }
            .header__idioma{
                position: absolute;
                top:50vh;
                right: 0;
                height: 45vh;
                width: 15rem;
                min-width: 25%;
                background-color: $primario-marron;
                padding: 0 2rem 5rem 2rem;
                display: flex;
                flex-direction: column;
                justify-content: end;
                background-color: $primario-negro2;
                opacity: 0;
                visibility: hidden;
                transition: all 0.2s;
                ul{
                    gap: 2rem;
                    li{
                        margin: 0;
                    }
                }
            }
        }
        main{
            .portada{
                padding: 3rem 6rem 0 6rem;
                .portada__titulo{
                    font-size: 6rem;
                }
                .portada__subtitulo{
                    font-size: 1.5rem;
                    padding-left:1rem;
                }
                img{
                    width: 50vw;
                    bottom: 10rem;
                    right: 2rem;
                }
            }
        }
    }
}

//425px

@media (max-width:430px){
    body{
        header{
            .header__navbar{
                ul{
                    font-size: 1.4rem;
                }       
            }
            .header__idioma{
                ul{
                    font-size: 1.4rem;
                }
            }
        }
        main{
            .portada{
                padding: 0 4rem 0 4rem;
                .portada__titulo{
                    margin-top:10rem;
                }
                img{
                    width: 50vw;
                    bottom: 10rem;
                    right: 1rem;
                }
            }
        }
    }
}

//375px

@media (max-width:375px){
    body{
        main{
            .portada{
                .portada__titulo{
                    font-size: 5rem;
                }
                .portada__subtitulo{
                    font-size: 1.2rem;
                    padding-left:1rem;
                }
            }
        }
    }
}
