/* Config gral */
* {
    margin: 0;
    padding: 0;
  }

*::selection{
    background-color: $secundario-beige;
    color:#ffffff;
}
  
html {
    font-size: 62.5%;
    background-color: #181310;
    font-family: 'Montserrat', sans-serif;
    a{
        text-decoration:none;
        color:$secundario-beige;
    }
    p{
        color: $secundario-beige;
    }
    h1{
        color: $secundario-beige;
    }
    
    h2{
        color: $secundario-beige;
    }
    
    h3{
        color: $acento-rojo;
    }
    
    li{
        color: $secundario-beige;
    }
    .selected{
        color: $acento-rojo;
        transition: 0.3s;
    }
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 12rem; 
}

body{
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 8rem;
        width: 100%;
        position: fixed;
        top:0;
        z-index: 3;
        background-color: $primario-marron;
        .header__navbar{
            padding-left: 14rem;
            ul{
                display: flex;
                flex-direction: row;
                list-style-type:none;
                font-size: 2.4rem;
                li{
                    margin-right: 4rem;
                    text-transform: uppercase;
                    font-weight: 500;
                    a{
                        transition: all 0.3s;
                        &:hover{
                            color:$acento-rojo;
                        }
                    }
                }
            }
        }
        .header__idioma{
            padding-right: 14rem;
            ul{
                display: flex;
                flex-direction: row;
                list-style-type:none;
                font-size: 2.4rem;
                li{
                    margin-left: 4rem;
                    text-transform:uppercase;
                    a{
                        transition: all 0.3s;
                        &:hover{
                            color:$acento-rojo;
                        }
                    }
                }
            }
        }
    }
    main{
        padding-top: 21.3rem;
        /* Desde acá portada */
        .portada{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: fit-content;
            width: 62.5rem;
            padding: 0 14rem 0 14rem;
            .portada__titulo{
                display: block;
                font-size: 12.8rem;
                font-weight: 400;
                text-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.50);
                position: relative;
                z-index: 2;
                b{
                    color:$secundario-naranja;
                }
            }
            .portada__subtitulo{
                font-size: 2.4rem;
                font-weight: 500;
                position: relative;
                z-index: 2;
            }
            img{
                position: relative;
                width: fit-content;
                height: fit-content;
                bottom: 13.4rem;
                right: 3rem;
                z-index: 1;
            }
        }
    }
}

