.sobremi{
    padding: 10rem 14rem 0 14rem;
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: fit-content fit-content;
    column-gap: 6%;
    row-gap: 15rem;
    grid-template-areas:
    "sobremi sobremi" 
    "lenguajes herramientas";
    .sobremi__titulo{
        @include titulo__seccion;
        justify-content: start;
    }
    .sobremi__parrafo{
        grid-area:sobremi;
        display: inline-block;
        .sobremi__foto{
            max-width: 45%;
            display: inline;
            float: right;
            margin-left: 3rem;
            margin-bottom: 3rem;
            border-radius: 5px;
        }
        p{
            font-size: 1.6rem;
            padding-bottom: 3.2rem;
            b{
                color: $secundario-naranja;
            }
        }
    }
    .habilidades__lenguajes{
        grid-area: lenguajes;
        h3{
            color: $secundario-naranja;
            margin-bottom: 1.8rem;
            font-size: 2.4rem;
        }
        .habilidades__imagenes{
            display: flex;
            flex-direction: row;
            margin-bottom: 3.8rem;
            img{
                width: 2.3rem;
                height: 2.6rem;
                margin-right: 1.2rem;
            }
        }
        ul{
            li{
                font-size: 1.6rem;
                margin-bottom: 3.2rem;
            }
        }
    }
    .habilidades__herramientas{
        grid-area: herramientas;
        @extend .habilidades__lenguajes;
    }
}

/* MEDIA QUERIES */

//1301px

@media (max-width: 1301px){
    body{
        main{
            .sobremi{
                row-gap: 12rem;
                padding: 5rem 12rem 0 12rem;
                .sobremi__parrafo{
                    p{
                        font-size: 1.4rem;
                    }
                }
                .habilidades__lenguajes{
                    ul{
                        li{
                            font-size: 1.4rem;
                            margin-bottom: 2.6rem;
                        }
                    }
                }
            }
        }
    }
}

//924px

@media (max-width: 924px){
    body{
        main{
            .sobremi{
                padding: 5rem 8rem 0 8rem;
            }
        }
    }
}


//800px

@media(max-width: 800px){
    body{
        main{
            .sobremi{
                display: flex;
                flex-direction: column;
                row-gap: 0;
                .sobremi__parrafo{
                    margin-bottom: 8rem;
                    p{
                        font-size: 1.4rem;
                    }
                }
                .habilidades__lenguajes{
                    margin-bottom:8rem;
                    ul{
                        li{
                            font-size: 1.4rem;
                        }
                    }
                }
                .habilidades__herramientas{
                    margin-bottom: 0rem;
                }
            }
        }
    }
}

//764

@media (max-width:767px){
    body{
        main{
            .sobremi{
                padding: 0 6rem 0 6rem;
                .sobremi__parrafo{
                    .sobremi__foto{
                        float:none;
                        margin-left: 0;
                        margin-bottom: 2rem;
                        max-width: 100%;
                    }
                    p{
                        font-size: 1.2rem;
                        padding-bottom: 1.6rem;
                    }
                }
                .habilidades__lenguajes{
                    h3{
                        font-size: 2rem;
                    }
                    ul{
                        li{
                            font-size: 1.2rem;
                            margin-bottom: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}

//425px



@media (max-width:425px){
    body{
        main{
            .sobremi{
                padding: 0 4rem 0 4rem;
            }
        }
    }
}

@media (max-width: 375px){
    body{
        main{
            .sobremi{
                .habilidades__lenguajes{
                    h3{
                        font-size: 1.8rem;
                        }
                }
            }
        }
    }
}