
/* COLORES */

$primario-negro1: #040001;
$primario-negro2: #111111;
$primario-marron: #181310;
$secundario-naranja: #FD6A00;
$secundario-blanco: #F6F5F5;
$secundario-beige: #C7AA88;
$acento-rojo: #F6270B;

